<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aPlatform.mappers.FinanceDataMapper">
	<select resultType="com.aPlatform.controller.service.finance.VO.FinanceVO" id="getAllCode">
		SELECT 
    		CODE 			AS "fin_code"
    		, NAME 			AS "fin_name"
		FROM	 
  		  SHARES_FIN_INFO
	</select>
	<select resultType="map" id="getMappingUrl">
		SELECT 
		    SUB_CUL_1						
		    , SUB_CUL_2
		FROM
		    COM_CD_BAS
		WHERE
		    GROUP_ID = '20'
		    AND SERVICE_ID = 'FIN'
		    AND SUB_CONTENT = 'URL'
	</select>
</mapper>