<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aPlatform.mappers.LoaddataMapper">

	<select resultType="com.aPlatform.controller.main.VO.NavbarVO" id="loadNavbar">
		SELECT
			SVC_TEMPLIT_ID 			tmplt_id
			, SVC_TEMPLIT_SEQ		tmplt_seq
			, SVC_TEMPLIT_FIGURE	tmplt_figure
			, SVC_TEMPLIT_DES		tmplt_des
			, SVC_TEMPLIT_STTUS		tmplt_sttus
			, SVC_TEMPLIT_USER_ID	user_id
		FROM
			SVC_TEMPLIT_LIST_DTL
		WHERE
			SVC_TEMPLIT_USER_ID = #{user_id}
		ORDER BY
			SVC_TEMPLIT_SEQ ASC
	</select>
</mapper>